<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--tobing-->
<!--大屏Mapper-->
<mapper namespace="com.wlhse.dao.DashboardSecurityProjectDao">
    <resultMap id="dashboardSecurityProjectDaoMap" type="com.wlhse.entity.DashboardSecurityProjectPojo">

    </resultMap>

    <resultMap id="dashboardSecurityProjectCountMap" type="com.wlhse.entity.DashboardSecurityProjectCount">

    </resultMap>

    <!--统计：companyCode-->
    <select id="countDashboardSecurityProject" resultType="java.lang.Integer">
        SELECT COUNT(CompanyCode) FROM dashboard_security_project
    </select>


    <!--插入：【安全管理数据】-->
    <insert id="insertDashboardSecurityProject" parameterType="com.wlhse.entity.DashboardSecurityProjectPojo">
        INSERT INTO dashboard_security_project(
        companyCode,
        companyName,
        projectLevel,
        projectName,
        projectFunds,
        recordedFunds,
        recordedFundsRate,
        updateTime
        )
        VALUES (
        #{companyCode},
        #{companyName},
        #{projectLevel},
        #{projectName},
        #{projectFunds},
        #{recordedFunds},
        #{recordedFundsRate},
        #{updateTime}
        )
    </insert>

    <!--更新：【安全管理数据】-->
    <update id="updateDashboardSecurityProject" parameterType="com.wlhse.entity.DashboardSecurityProjectPojo">
        UPDATE dashboard_security_project SET
        projectLevel=#{projectLevel},
        projectName=#{projectName},
        projectFunds=#{projectFunds},
        recordedFunds=#{recordedFunds},
        recordedFundsRate=#{recordedFundsRate},
        updateTime=#{updateTime}
    </update>

    <!--查：根据companyCode、projectLevel查询-项目-->
    <select id="queryDashboardSecurityProjectByLevel" resultMap="dashboardSecurityProjectDaoMap">
        SELECT
        companyCode,
        companyName,
        projectLevel,
        projectName,
        projectFunds,
        recordedFunds,
        recordedFunds/projectFunds AS recordedFundsRate,
        updateTime
        FROM dashboard_security_project
        <where>
            <if test="projectLevel!=null and projectLevel!=''">
                projectLevel=#{projectLevel}
            </if>
            <if test="companyCode!=null and companyCode!=''">
                AND companyCode=#{companyCode}
            </if>
        </where>
    </select>

    <!--    -->
    <select id="queryDashboardSecurityProjectCount" resultMap="dashboardSecurityProjectCountMap">
        SELECT
        MAX(companyName) AS companyName,
        MAX(companyCode) AS companyCode,
        projectLevel,
        COUNT(projectLevel) AS projectLevelCount
        FROM dashboard_security_project
        <where>
            <if test="companyCode!=null and companyCode!=''">
                companyCode=#{companyCode}
            </if>
        </where>
        GROUP BY projectLevel
    </select>

    <select id="queryDashboardSecurityProjectTotalUsageRate" resultType="java.lang.Double">
        SELECT
        SUM(recordedFunds)/SUM(projectFunds) AS totalUsageRate
        FROM dashboard_security_project
        <where>
            <if test="companyCode!=null and companyCode!=''">
                companyCode=#{companyCode}
            </if>
        </where>
    </select>
</mapper>