<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlhse.dao.DataDictDao">
    <resultMap id="dataDictMap" type="com.wlhse.entity.DataDictPojo">
        <id property="id" column="dataDict_id"/>
        <result property="dictCode" column="dictCode"/>
        <result property="name" column="name"/>
        <result property="serialNO" column="serialNO"/>
    </resultMap>

    <delete id="deleteDataDict">
        <bind name="_parent" value="parent+'%'"/>
        delete from datadict
        where dictCode like #{_parent}
    </delete>

    <update id="updateCode">
        update datadict
        set name = #{1}
        where DataDict_ID = #{0}
    </update>

    <select id="queryAllChildren" resultMap="dataDictMap">
        select * from datadict
        <where>
            <if test="parentName != null and parentName !=''">
                dictCode like CONCAT((select DictCode from datadict WHERE `Name`=#{parentName}),'_%' )
            </if>
        </where>
    </select>
    <insert id="insertDataDict">
        insert into datadict (DictCode,NAME)
        VALUES(
        <choose>
            <when test="parentCode !=null and parentCode != ''">
                (select LPAD(MAX(dd.DictCode)+1,6,0) from datadict as dd where dd.DictCode like
                CONCAT(#{parentCode},'_%'))
            </when>
            <otherwise>
                (select LPAD(MAX(dd.DictCode)+1,4,0) from datadict as dd where length(dd.DictCode)=4)
            </otherwise>
        </choose>
        ,#{name})
    </insert>
    <delete id="deleteDataDictById">
        delete from datadict
        where DataDict_ID = #{0}
    </delete>
    <select id="getAllDataDictPojo" resultMap="dataDictMap">
        select * from datadict
    </select>
    <delete id="deleteDataDictByCode">
        delete from datadict
        where dictCode = #{code}
    </delete>
</mapper>