<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wlhse.dao.QHSEManageSysElementsDao">


    <select id="querryRuleChild" parameterType="com.wlhse.entity.QHSEManageSysElements"
            resultType="com.wlhse.entity.QHSEManageSysElements">
        select * from qhse_managersyselement
        <where>
            <if test="code!=null and code!=''">
                and Code like concat(#{code},"__")
            </if>
            <if test="status !=null and status!=''">
                and Status=#{status}
            </if>
        </where>
    </select>
    <select id="querryTreeRoot" resultType="com.wlhse.entity.QHSEManageSysElements"
            parameterType="com.wlhse.entity.QHSEManageSysElements">
        select * from qhse_managersyselement
        <where>
            <if test="code==null or code==''">
                and Code like "__"
            </if>
            <if test="status !=null and status!=''">
                and Status=#{status}
            </if>
        </where>
    </select>

    <select id="querryLastQHSEChildCode" resultType="java.lang.String">
        select Code from qhse_managersyselement where Code like concat(#{code},"__") order by Code desc limit 1
    </select>

    <insert id="addQHSERule" parameterType="com.wlhse.entity.QHSEManageSysElements">
        insert into qhse_managersyselement
        (Code,Name,Content,RecordFile,AuditMode,InitialScore,TotalCount,Formula,Status)
        values
        (#{code},#{name},#{content},#{recordFile},#{auditMode},#{initialScore},#{totalCount},#{formula},#{status})
    </insert>

    <update id="updateRuleStatus" parameterType="com.wlhse.entity.QHSEManageSysElements">
        update qhse_managersyselement
        <trim prefix="set" suffixOverrides=",">
            <if test="status!=null and status!=''">
                Status=#{status},
            </if>
        </trim>
        where Code=#{code}
    </update>





    <select id="querryQHSEReportElements" resultType="com.wlhse.entity.QHSECompanySysElementsPojo">
        select * from qhse_managersyselement
        <where>
            <if test="status !=null and status!=''">
                and Status=#{status}
            </if>
        </where>
    </select>

    <select id="querryQHSEReportElements1" resultType="com.wlhse.entity.QHSECompanySysElementsPojo">
        select * from qhse_managersyselement
    </select>

    <select id="querryStatus" resultType="java.lang.String" parameterType="java.lang.String">
        select Status from qhse_managersyselement where Code = #{code}
    </select>
    <select id="querryScore" resultType="java.lang.Integer" parameterType="java.lang.String">
        select InitialScore from qhse_managersyselement where Code = #{code}
    </select>
    <update id="updateRule" parameterType="com.wlhse.entity.QHSEManageSysElements">
        update qhse_managersyselement
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null and name!=''">
                Name=#{name},
            </if>
            <if test="content!=null and content!=''">
                Content=#{content},
            </if>
            <if test="recordFile!=null and recordFile!=''">
                RecordFile=#{recordFile},
            </if>
            <if test="auditMode!=null and auditMode!=''">
                AuditMode=#{auditMode},
            </if>
            <if test="initialScore!=null and initialScore!=''">
                InitialScore=#{initialScore},
            </if>
            <if test="formula!=null and formula!=''">
                Formula=#{formula},
            </if>
        </trim>
        where Code=#{code}
    </update>

    <update id="addTotalCount" >
        update qhse_managersyselement set TotalCount=TotalCount+#{count} where Code = #{code}
    </update>
    <update id="addInitialScore">
        update qhse_managersyselement set InitialScore=InitialScore+#{score} where Code = #{code}
    </update>

    <update id="setOff">
        update qhse_managersyselement set Status=#{status} where Code like concat(#{code},'%')
    </update>
    <update id="setOn">
        update qhse_managersyselement set Status=#{status} where Code=#{code}
    </update>
    <select id="getScore" parameterType="java.lang.String" resultType="java.lang.Integer">
        select InitialScore from qhse_managersyselement where Code = #{code}
    </select>
    <update id="subSoreCount">
        update qhse_managersyselement set InitialScore=InitialScore-#{score} where code = #{code};
        update qqhse_managersyselement set TotalCount=TotalCount-1 where Code=#{code};
    </update>
    <select id="sumScore" resultType="java.lang.Integer">
        select  IFNULL(sum(InitialScore),0) from qhse_managersyselement where Code like concat(#{code},'%') and length(Code)=#{max_len}
    </select>
    <select id="sumCount" resultType="java.lang.Integer">
        select count(*) from qhse_managersyselement where Code like concat(#{code},'%') and length(Code)=#{max_len}
    </select>

    <update id="updateScoreCount">
        update qhse_managersyselement set InitialScore=InitialScore-#{score},TotalCount=TotalCount-#{count} where Code =#{code}
    </update>
    <update id="toZero">
        update qhse_managersyselement set InitialScore=0,TotalCount=0 where Code like concat(#{code},'%') and length(Code)&lt;#{max_len}
    </update>
    <update id="addScoreCount">
        update qhse_managersyselement set InitialScore=InitialScore+#{score},TotalCount=TotalCount+1 where Code=#{code}
    </update>

    <select id="queryQhseElements" resultType="com.wlhse.entity.QhseElementsPojo">
        select QHSE_ManagerSysElement_ID as qhseManagerSysElementID,
        Code,
        Name,
        Content,
        AuditMode,
        InitialScore,
        Formula,
        TotalCount,
        Status
        from QHSE_ManagerSysElement
        where Status='启用'
    </select>

    <select id="queryQhseYearElements" parameterType="com.wlhse.dto.inDto.YearElementsDto" resultType="com.wlhse.dto.inDto.YearElementsDto">
        select t1.QHSE_CompanyYearManagerSysElement_ID as qhseCompanyYearManagerSysElementID,
        t1.QHSE_CompanyYearManagerSysElementTable_ID as qhseCompanyYearManagerSysElementTableID,
        t1.Code,
        t1.Name,
        t1.Content,
        t1.AuditMode,
        t1.InitialScore,
        t1.Formula,
        t1.TotalCount,
        t1.Status,
        t1.CompanyCode as companyCode,
        t1.CompanyName as companyName,
        t1.Year as `year`,
        t1.fileCheckStatus as fileCheckStatus,
        t1.CheckStatus as checkStatus,
        t1.isInvolve as isInvolve
        from QHSE_CompanyYearManagerSysElement as t1
        <where>
            <if test="companyCode !=null and companyCode!=''">
                AND t1.CompanyCode=#{companyCode}
            </if>
            <if test="year !=null and year!=''">
                AND t1.Year=#{year}
            </if>
            AND t1.ConfigStatus="启用"
        </where>
        order by CheckStatus asc
    </select>

    <select id="queryQhseAllElements" resultType="com.wlhse.entity.QhseElementsPojo">
        select QHSE_ManagerSysElement_ID as qhseManagerSysElementID,
        Code,
        Name,
        Content,
        AuditMode,
        InitialScore,
        Formula,
        TotalCount,
        Status
        from QHSE_ManagerSysElement
    </select>

    <select id="queryQhseChildElements" resultType="com.wlhse.entity.QhseElementsPojo">
        select QHSE_ManagerSysElement_ID as qhseManagerSysElementID,
        Code,
        Name,
        Content,
        AuditMode,
        InitialScore,
        Formula,
        TotalCount,
        Status
        from QHSE_ManagerSysElement
        where Status='启用'
        and length (code) &lt;= '6'
    </select>

    <update id="updateElement" parameterType="com.wlhse.entity.QhseElementsPojo">
        update qhse_managersyselement
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null and name!=''">
                Name=#{name},
            </if>
            <if test="content!=null and content!=''">
                Content=#{content},
            </if>
            <if test="auditMode!=null and auditMode!=''">
                AuditMode=#{auditMode},
            </if>
            <if test="initialScore!=null and initialScore!=''">
                InitialScore=#{initialScore},
            </if>
            <if test="formula!=null and formula!=''">
                Formula=#{formula},
            </if>
        </trim>
        where Code=#{code}
    </update>

    <select id="querryLastQHSEChildCode2" resultType="java.lang.String">
        select Code from qhse_managersyselement where Code like concat(#{code},"___") order by Code desc limit 1
    </select>

    <insert id="addQHSEElement" parameterType="com.wlhse.entity.QhseElementsPojo">
        insert into qhse_managersyselement
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                Code,
            </if>
            <if test="name != null and name != ''">
                Name,
            </if>
            <if test="content != null and content != ''">
                Content,
            </if>
            <if test="auditMode != null and auditMode != ''">
                AuditMode,
            </if>
            InitialScore,
            <if test="formula != null and formula != ''">
                Formula,
            </if>
            TotalCount,
            <if test="status != null and status != ''">
                Status,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                #{code},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="auditMode != null and auditMode != ''">
                #{auditMode},
            </if>
            #{initialScore},
            <if test="formula != null and formula != ''">
                #{formula},
            </if>
            #{totalCount},
            <if test="status != null and status != ''">
                #{status},
            </if>
        </trim>
        )
    </insert>

    <insert id="addExcelQHSEElement" parameterType="com.wlhse.dto.inDto.QSHEMSElementInDto">
        insert into qhse_managersyselement
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                Code,
            </if>
            <if test="name != null and name != ''">
                Name,
            </if>
            <if test="content != null and content != ''">
                Content,
            </if>
            <if test="auditMode != null and auditMode != ''">
                AuditMode,
            </if>
            InitialScore,
            <if test="formula != null and formula != ''">
                Formula,
            </if>
            TotalCount,
            <if test="status != null and status != ''">
                Status,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                #{code},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="auditMode != null and auditMode != ''">
                #{auditMode},
            </if>
            #{initialScore},
            <if test="formula != null and formula != ''">
                #{formula},
            </if>
            #{totalCount},
            <if test="status != null and status != ''">
                #{status},
            </if>
        </trim>
        )
    </insert>

    <insert id="addExcelQHSEElemenForInerPople" parameterType="com.wlhse.dto.outDto.QhseElementsOutDto">
        insert into qhse_managersyselement
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                Code,
            </if>
            <if test="name != null and name != ''">
                Name,
            </if>
            <if test="content != null and content != ''">
                Content,
            </if>
            <if test="auditMode != null and auditMode != ''">
                AuditMode,
            </if>
            InitialScore,
            <if test="formula != null and formula != ''">
                Formula,
            </if>
            TotalCount,
            <if test="status != null and status != ''">
                Status,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                #{code},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="auditMode != null and auditMode != ''">
                #{auditMode},
            </if>
            #{initialScore},
            <if test="formula != null and formula != ''">
                #{formula},
            </if>
            #{totalCount},
            <if test="status != null and status != ''">
                #{status},
            </if>
        </trim>
        )
    </insert>

    <update id="updateExcelElement" parameterType="com.wlhse.dto.inDto.QSHEMSElementInDto">
        update qhse_managersyselement
        set Name=#{name},Content=#{content},AuditMode=#{auditMode},InitialScore=#{initialScore},
        TotalCount=#{totalCount},Formula=#{formula},Status=#{status}
        where Code=#{code}
    </update>


    <select id="queryElementsByCode" resultType="com.wlhse.dto.inDto.YearElementsDto">
        select
        Code as code,
        name as name,
        Content as content,
        auditMode as auditMode,
        initialScore as initialScore,
        formula as formula,
        totalCount as totalCount
        from QHSE_ManagerSysElement
        where code like concat(#{c},'%')
        and status='启用'
    </select>

    <select id="findMaxLen" resultType="integer">
        select Max(LENGTH(code)) FROM QHSE_ManagerSysElement
    </select>

    <select id="queryByTableID" resultType="com.wlhse.dto.inDto.YearElementsDto">
        select
        QHSE_CompanyYearManagerSysElement_ID as qhseCompanyYearManagerSysElementID,
        QHSE_CompanyYearManagerSysElementTable_ID as qhseCompanyYearManagerSysElementTableID,
        code as code,
        name as name
        from QHSE_CompanyYearManagerSysElement
        where QHSE_CompanyYearManagerSysElementTable_ID=#{id}
    </select>

    <delete id="deleteByTableID">
        delete from QHSE_CompanyYearManagerSysElement
        where QHSE_CompanyYearManagerSysElementTable_ID=#{id}
    </delete>

    <insert id="addYearElement" parameterType="com.wlhse.dto.inDto.YearElementsDto">
        insert into QHSE_CompanyYearManagerSysElement
        (
        <trim suffixOverrides=",">
            QHSE_CompanyYearManagerSysElementTable_ID,
            <if test="code != null and code != ''">
                Code,
            </if>
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="auditMode != null and auditMode != ''">
                auditMode,
            </if>
            initialScore,
            <if test="formula != null and formula != ''">
                formula,
            </if>
            totalCount,
            <if test="status != null and status != ''">
                status,
            </if>
            <if test="companyCode != null and companyCode != ''">
                companyCode,
            </if>
            <if test="companyName != null and companyName != ''">
                companyName,
            </if>
            <if test="year != null and year != ''">
                year,
            </if>
            <if test="fileCheckStatus != null and fileCheckStatus != ''">
                fileCheckStatus,
            </if>
            <if test="configStatus != null and configStatus != ''">
                configStatus,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            #{qhseCompanyYearManagerSysElementTableID},
            <if test="code != null and code != ''">
                #{code},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="auditMode != null and auditMode != ''">
                #{auditMode},
            </if>
            #{initialScore},
            <if test="formula != null and formula != ''">
                #{formula},
            </if>
            #{totalCount},
            <if test="status != null and status != ''">
                #{status},
            </if>
            <if test="companyCode != null and companyCode != ''">
                #{companyCode},
            </if>
            <if test="companyName != null and companyName != ''">
                #{companyName},
            </if>
            <if test="year != null and year != ''">
                #{year},
            </if>
            <if test="fileCheckStatus != null and fileCheckStatus != ''">
                #{fileCheckStatus},
            </if>
            <if test="configStatus != null and configStatus != ''">
                #{configStatus},
            </if>
        </trim>
        )
    </insert>

    <!--<insert id="addYearElement" parameterType="com.wlhse.dto.inDto.YearElementsDto">-->
        <!--insert into QHSE_CompanyYearManagerSysElement(QHSE_CompanyYearManagerSysElementTable_ID,Code,-->
        <!--name,content,basis,auditMode,initialScore,formula,problemDescription,totalCount,status,-->
        <!--companyCode,companyName,year,)-->
        <!--values(#{code},#{name},#{content},#{basis},#{auditMode},#{initialScore},#{formula},#{problemDescription},#{totalCount},#{status},#{companyCode},-->
        <!--#{companyName},#{year})-->
    <!--</insert>-->

    <delete id="deleteAllDescription">
        delete from qhse_managersyselementproblemdescription
    </delete>


    <insert id="addProblemDescription" >
        insert into qhse_managersyselementproblemdescription
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                Code,
            </if>

            <if test="description != null and description != ''">
                Description,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                #{code},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
        </trim>
        )
    </insert>

    <select id="querryDescriptionBycode" resultType="com.wlhse.dto.QHSEproblemDiscriptionDto">
        select QHSE_ManagerSysElementProblemDescription_ID,Code,Description from qhse_managersyselementproblemdescription where Code=#{code}
    </select>

    <select id="querryAllDescription" resultType="com.wlhse.dto.QHSEproblemDiscriptionDto">
        select QHSE_ManagerSysElementProblemDescription_ID,Code,Description from qhse_managersyselementproblemdescription order by Code
    </select>

    <delete id="deleteDescriptionById">
        delete from qhse_managersyselementproblemdescription
        where QHSE_ManagerSysElementProblemDescription_ID=#{id}
    </delete>

    <update id="updateDescriptionById" parameterType="com.wlhse.dto.QHSEproblemDiscriptionDto">
        update qhse_managersyselementproblemdescription
        set Description=#{description}
        where QHSE_ManagerSysElementProblemDescription_ID=#{qHSE_ManagerSysElementProblemDescription_ID}
    </update>

    <select id="selectCodeAndConfigStatusByTableId" resultType="com.wlhse.dto.outDto.ElementAndConfigStatusDto">
        select Code as elementCode,
        ConfigStatus as configStatus
        from qhse_companyyearmanagersyselement
        where QHSE_CompanyYearManagerSysElementTable_ID=#{tableId}
    </select>

    <select id="queryElementByCode" resultType="com.wlhse.dto.inDto.YearElementsDto">
        select
        Code as code,
        name as name,
        Content as content,
        auditMode as auditMode,
        initialScore as initialScore,
        formula as formula,
        totalCount as totalCount
        from QHSE_ManagerSysElement
        where code=#{code}
        and status='启用'
    </select>

    <update id="updateConfigStatus">
        update  qhse_companyyearmanagersyselement
        set ConfigStatus=#{2}
        where QHSE_CompanyYearManagerSysElementTable_ID=#{1}
        and Code=#{0}
    </update>

    <select id="getElementById" resultType="com.wlhse.entity.QhseElementsPojo">
        select * from qhse_managersyselement
        where QHSE_ManagerSysElement_ID=#{id}
    </select>

    <select id="getElementByCode" resultType="com.wlhse.entity.QhseElementsPojo">
        select * from qhse_managersyselement
        where Code=#{code}
    </select>


    <select id="queryAllCode" resultType="java.lang.String">
        select Code from qhse_managersyselement
    </select>

    <select id="getCheckedElementNumber" resultType="Integer">
        select count (*)
        from qhse_companyyearmanagersyselement
        where `Status` ='备案待查'
        and QHSE_CompanyYearManagerSysElementTable_ID=#{0}
    </select>

    <select id="getAllLeafNodeNumber" resultType="Integer">
        select count(*)
        from qhse_companyyearmanagersyselement
        where Status is not null
        and QHSE_CompanyYearManagerSysElementTable_ID=#{0}
        and ConfigStatus='启用'
    </select>
    <select id="querySchedule" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from qhse_companyyearmanagersyselement
         <where>
            <if test="code!=null and code !='' ">
              AND  `Code` like CONCAT(#{code},"%")
            </if>
                and (status is not null or status!="")
                and `year`=#{param3}
                and companyCode=#{param2}
         </where>
    </select>
    <select id="querySchdules" resultType="java.lang.Integer" parameterType="java.lang.String">
         select count(*) from qhse_companyyearmanagersyselement
         <where>
             <if test="code!=null and code !='' ">
                 AND  `Code` like CONCAT(#{code},"%")
             </if>
                 and `year`=#{param3}
                 and companyCode=#{param2}
                 and (status="未提供" or status="不通过")
         </where>
    </select>

    <select id="queryYearElement" parameterType="com.wlhse.dto.inDto.YearElementsDto" resultType="com.wlhse.dto.inDto.YearElementsDto">
        select t1.QHSE_CompanyYearManagerSysElement_ID as qhseCompanyYearManagerSysElementID,
        t1.QHSE_CompanyYearManagerSysElementTable_ID as qhseCompanyYearManagerSysElementTableID,
        t1.Code,
        t1.Name,
        t1.Content,
        t1.AuditMode,
        t1.InitialScore,
        t1.Formula,
        t1.TotalCount,
        t1.Status,
        t1.CompanyCode as companyCode,
        t1.CompanyName as companyName,
        t1.Year as `year`,
        t1.fileCheckStatus as fileCheckStatus,
        t1.CheckStatus as checkStatus
        from QHSE_CompanyYearManagerSysElement as t1
        join QHSE_CompanyYearManagerSysElementTable as t2
        on  t1.QHSE_CompanyYearManagerSysElementTable_ID=t2.QHSE_CompanyYearManagerSysElementTable_ID
        <where>
            <if test="companyCode !=null and companyCode!=''">
                AND t1.CompanyCode=#{companyCode}
            </if>
            <if test="year !=null and year!=''">
                AND t1.Year=#{year}
            </if>
            AND t1.ConfigStatus="启用"
        </where>
    </select>
    <select id="querySchedule1" resultType="java.lang.Integer">
        select count(*) from quality_companyyearmanagersyselement
        <where>
            <if test="code!=null and code !='' ">
                AND  `Code` like CONCAT(#{code},"%")
            </if>
            and (status is not null or status!="")
            and `year`=#{param3}
            and companyCode=#{param2}
        </where>
    </select>
    <select id="querySchdules1" resultType="java.lang.Integer">
        select count(*) from quality_companyyearmanagersyselement
        <where>
            <if test="code!=null and code !='' ">
                AND  `Code` like CONCAT(#{code},"%")
            </if>
            and `year`=#{param3}
            and companyCode=#{param2}
            and (status="未提供" or status="不通过")
        </where>
    </select>

    <select id="getInputtedNum" resultType="java.lang.Integer">
        select count(*) from
        qhse_companyyearmanagersyselement
        where FileCheckStatus='未审核'
        and QHSE_CompanyYearManagerSysElementTable_ID=#{0}
    </select>

    <select id="getCheckedNum" resultType="java.lang.Integer">
        select count(*) from
        qhse_companyyearmanagersyselement
        where FileCheckStatus='未批准'
        and QHSE_CompanyYearManagerSysElementTable_ID=#{0}
    </select>

    <select id="getApprovedNum" resultType="java.lang.Integer">
        select count(*) from
        qhse_companyyearmanagersyselement
        where FileCheckStatus='备案待查'
        and QHSE_CompanyYearManagerSysElementTable_ID=#{0}
    </select>

    <select id="getReInputNum" resultType="java.lang.Integer">
          select count(*) from
        qhse_companyyearmanagersyselement
        where FileCheckStatus='不通过'
        and QHSE_CompanyYearManagerSysElementTable_ID=#{0}
    </select>
    <select id="queryTask" resultType="java.lang.String">
        select Status from qhse_task where Table_ID=(select QHSE_CompanyYearManagerSysElementTable_ID
        from qhse_companyyearmanagersyselementtable where companyCode=#{companyCode} and year=#{year})
    </select>
    <insert id="batchInsertRecord">
        insert into qhse_managersyselement
        (Code,`Name`,Content,AuditMode,InitialScore,TotalCount,Formula,Status)
        values
        <foreach collection="list" item="detail" separator=",">
            (
            #{detail.code},#{detail.name},#{detail.content},
            #{detail.auditMode},#{detail.initialScore},#{detail.totalCount},
            #{detail.formula},#{detail.status}
            )
        </foreach>
    </insert>


    <update id="updateInvolveStatus">
        update qhse_companyyearmanagersyselement
        set isInvolve=#{1}
        where QHSE_CompanyYearManagerSysElement_ID=#{0}
    </update>
</mapper>

