<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wlhse.dao.QualityProblemDescriptionDao">
    <!--添加问题记录-->
    <insert id="addProblemDescription" parameterType="com.wlhse.dto.QualityProblemDescriptionDto">
        insert into quality_auditproblemrecord
        (Qquality_FileAudit_ID,Qquality_FileAuditRecord_ID,ProblemDescription,Code,CompanyCode,Additor,CompanyName)
        values
        (#{qquality_FileAudit_ID},#{qquality_FileAuditRecord_ID},#{problemDescription},#{code},#{companyCode},
        #{additor},#{companyName})
    </insert>

    <!--删除问题记录-->
    <delete id="deleteProblemDescription">
        delete from quality_auditproblemrecord
        where Qquality_AuditProblemRecord_ID = #{id}
    </delete>

    <sql id="value1">
        <trim prefix="set" suffixOverrides=",">
            <if test="situation != null and situation  != ''">
                situation=#{situation},
            </if>
            <if test="status != null and status  != ''">
                status=#{status},
            </if>
        </trim>
    </sql>

    <!--更新问题记录-->
    <update id="updateProblemDescription">
        update quality_auditproblemrecord
        <include refid="value1"/>
        where Qquality_AuditProblemRecord_ID = #{qquality_AuditProblemRecord_ID}
    </update>

    <select id="queryProblemDescription" resultType="com.wlhse.dto.QualityProblemDescriptionDto">
        select *
        from quality_auditproblemrecord as t1
        join quality_fileauditrecord as t2
        on t1.Qquality_FileAuditRecord_ID = t2.Quality_FileAudit_RecordID
        <where>
            <if test="startDate != null and startDate  != ''">
                AND t2.AuditTime>=#{startDate}
            </if>
            <if test="endDate != null and endDate  != ''">
                AND #{endDate}>=t2.AuditTime
            </if>
            <if test="auditor != null and auditor  != ''">
                AND t1.Additor=#{auditor}
            </if>
            <if test="companyCode != null and companyCode  != ''">
                AND t1.CompanyCode=#{companyCode}
            </if>
            <if test="companyName != null and companyName  != ''">
                AND t1.CompanyName=#{companyName}
            </if>
        </where>
    </select>


</mapper>